# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.egg-info/
dist/
build/

# Virtual environment
venv/
ProjectMlOps_venv/

# MLflow
mlruns/
mlflow.db

# Airflow
airflow.db
logs/
*.pid
*.log
*.sqlite

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Docker
*.env
*.tar
docker-compose.override.yml

# Models and datasets (optional if too large)
models/
data/

