name: MLops CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --no-cache-dir -r docker/airflow/requirements.txt -r docker/mlflow/requirements.txt

    - name: Run tests
      run: |
        pip install pytest
        pytest tests/

  docker-build:
    runs-on: ubuntu-latest
    needs: build-test

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build MLflow Docker image
      run: |
        docker build -f docker/mlflow/Dockerfile -t mlops-mlflow .

    - name: Build Airflow Docker image
      run: |
        docker build -f docker/airflow/Dockerfile -t mlops-airflow .
